@model mvcguzellik.Models.mvcSalonlarModel
@{
    ViewBag.Title = "Ekle";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<div class="form-body">
    @using (Html.BeginForm())
    {
        @Html.HiddenFor(model => model.SalonNo)
        <div class="form-group">
            @Html.LabelFor(model => model.SalonAdi)
            @Html.TextBoxFor(model => model.SalonAdi, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.SalonAdi)<br />



            @Html.LabelFor(model => model.CalisanSayisi)
            @Html.TextBoxFor(model => model.CalisanSayisi, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.CalisanSayisi)<br />



            @Html.LabelFor(model => model.VerilenHizmetler)
            @Html.TextBoxFor(model => model.VerilenHizmetler, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.VerilenHizmetler)<br />



            @Html.LabelFor(model => model.HizmetSayisi)
            @Html.TextBoxFor(model => model.HizmetSayisi, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.HizmetSayisi)<br />
        </div>
        <div class="form-body">
            <input type="submit" value="Kaydet" class="btn btn-success" />
            <input type="reset" value="Reset" class="btn btn-success" />
        </div>
    }
</div>

@section scripts{
    @Scripts.Render("~/bundles/jgeryval");
}

